repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-ast
        language_version: python3.8
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
      - id: trailing-whitespace
      - id: mixed-line-ending

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.1
    hooks:
      - id: no-commit-to-branch
        args: [ '--pattern', '^(feat|fix|refactor|style|test|docs|build|ci|perf)\/[a-z0-9._-]+$' ]

  - repo: https://github.com/ambv/black
    rev: 21.9b0
    hooks:
      - id: black
        language_version: python3.8
        files: ^api/src/.*\.py$

  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit
        args: [-l, --recursive, -x, tests]
        files: ^api/.*\.py$

  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        types: [python]
        args: [--config=api/pyproject.toml]
        files: ^api/.*\.py$

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)
        files: ^api/.*\.py$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        files: ^web/.*\.(ts|tsx|js|css|html|json)$
        args:
          ["--config=web/.prettierrc.js", "--ignore-path=web/.prettierignore"]