version: "3.8"

services:

  api:
    build:
      target: development
    image: template-api-dev
    volumes:
      - ./api/src/:/code/src
    env_file:
      - .env
    environment:
      ENVIRONMENT: local
      LOGGING_LEVEL: debug
      MONGODB_DATABASE: $MONGODB_DATABASE
      MONGODB_USERNAME: $MONGODB_USERNAME
      MONGODB_PASSWORD: $MONGODB_PASSWORD
      AUTH_ENABLED: $AUTH_ENABLED
      MONGODB_HOSTNAME: db
      MONGODB_PORT: $MONGODB_PORT
      OAUTH_TOKEN_ENDPOINT: $OAUTH_TOKEN_ENDPOINT
      OAUTH_AUTH_ENDPOINT: $OAUTH_AUTH_ENDPOINT
      OAUTH_WELL_KNOWN: $OAUTH_WELL_KNOWN
      OAUTH_AUDIENCE: $OAUTH_AUDIENCE
      OAUTH_AUTH_SCOPE: $AUTH_SCOPE
      OAUTH_CLIENT_ID: $CLIENT_ID
      SECRET_KEY: $SECRET_KEY
    ports:
      - "5000:5000"
    depends_on:
      - db
    links:
      - db

  nginx:
    build:
      target: nginx-dev

  web:
    restart: unless-stopped
    build:
      target: development
      context: ./web
      args:
        AUTH_ENABLED: $AUTH_ENABLED
        AUTH_SCOPE: $AUTH_SCOPE
        CLIENT_ID: $CLIENT_ID
        TENANT_ID: $TENANT_ID
    image: template-web-dev
    stdin_open: true
    volumes:
      - ./web/src:/code/src
    env_file:
      - .env
    environment:
      - NODE_ENV=development

  db:
    volumes:
      - database:/data/db
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGODB_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGODB_PASSWORD

volumes:
  database:

  # db-ui:
  #   image: mongo-express:0.49
  #   restart: unless-stopped
  #   ports:
  #     - "8081:8081"
  #   env_file:
  #     - .env
  #   environment:
  #     ME_CONFIG_MONGODB_SERVER: db
  #     ME_CONFIG_MONGODB_ADMINUSERNAME: $MONGODB_USERNAME
  #     ME_CONFIG_MONGODB_ADMINPASSWORD: $MONGODB_PASSWORD
  #     ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
