apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: template-fastapi-react
spec:
  environments:
    - name: prod
      build:
        from: main
    - name: test
      build:
        from: main
  components:
    - name: web
      image: ghcr.io/equinor/template-fastapi-react/web:{imageTagName}
      alwaysPullImageOnDeploy: true
      environmentConfig:
        - environment: prod
          imageTagName: production
        - environment: test
          imageTagName: latest
      variables:
        AUTH_ENABLED: "True"
      ports:
        - name: http
          port: 3000

    - name: api
      image: ghcr.io/equinor/template-fastapi-react/api:{imageTagName}
      alwaysPullImageOnDeploy: true
      environmentConfig:
        - environment: prod
          imageTagName: production
        - environment: test
          imageTagName: latest
      secrets:
        - SECRET_KEY
      variables:
        LOGGING_LEVEL: "debug"
        AUTH_ENABLED: "True"
        ENVIRONMENT: production
        OAUTH_WELL_KNOWN: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/v2.0/.well-known/openid-configuration
        OAUTH_TOKEN_ENDPOINT: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/oauth2/v2.0/token
        OAUTH_AUTH_ENDPOINT: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/oauth2/v2.0/authorize
        OAUTH_CLIENT_ID: 4a761bec-628d-4c4b-860a-4903cbecc963
        OAUTH_AUDIENCE: api://4a761bec-628d-4c4b-860a-4903cbecc963
      ports:
        - name: rest
          port: 5000
      publicPort: rest

    - name: proxy
      image: ghcr.io/equinor/template-fastapi-react/nginx:{imageTagName}
      alwaysPullImageOnDeploy: true
      environmentConfig:
        - environment: prod
          imageTagName: production
        - environment: test
          imageTagName: latest
      ports:
        - name: nginx
          port: 8080
      publicPort: nginx

  dnsAppAlias:
    environment: prod
    component: proxy
