/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  text-align: center;
  font-size: 22px;
  margin: 20px auto;
  width: 65%;
}

.features {
  display: flex;
}

.feature {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  display: flex;
  height: 180px;
  width: 180px;
}


.glass {
  font-size: 10em;
  display: inline-block;
  width: 1.4em;
  box-sizing: content-box;
  height: 1.4em;
  border: 0.01em solid black;
  position: relative;
  border-radius: 1.35em;
  margin: 10px 10px;
}