[tool.poetry]
name = "api"
version = "0.1.0"
description = "API for Template Fastapi React"
authors = []
license = ""

[tool.poetry.dependencies]
cachetools = "^4.2.2"
python = "3.10.*"
python-jose = {extras = ["cryptography"], version = "^3.3.0"}
fastapi = "^0.78.0"
uvicorn = {extras = ["standard"], version = "^0.17.6"}
gunicorn = "^20.1.0"
pymongo = "4.1.1"
cryptography = "37.0.2"  # Locked because of a bad 37.0.3 release. (https://cryptography.io/en/latest/changelog/#yanked)
# Not a direct dependecy, but needed to get certificates
certifi = "^2022.6.15"
requests = "^2.27.1"

[tool.poetry.dev-dependencies]
pre-commit = "^2.19.0"
flake8 = "^4.0.1"
black = "^22.3.0"
isort = "^5.10.1"
interrogate = "^1.5.0"
bandit = "^1.7.4"
pytest = "^7.1.2"
mongomock = "^4.1.2"
mypy = "^0.961"
types-cachetools = "^5.2.0"
types-requests = "^2.27.30"
types-ujson = "^5.3.0"

[tool.black]
line-length = 119
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
)/
'''

[tool.interrogate]
ignore-init-method = true
ignore-init-module = true
ignore-magic = false
ignore-semiprivate = false
ignore-private = false
ignore-property-decorators = false
ignore-module = false
ignore-nested-functions = false
ignore-nested-classes = true
ignore-setters = false
fail-under = 0
exclude = ["setup.py", "docs", "build"]
ignore-regex = ["^get$", "^mock_.*", ".*BaseClass.*"]
# possible values: 0 (minimal output), 1 (-v), 2 (-vv)
verbose = 0
quiet = false
whitelist-regex = []
color = true
omit-covered-files = false

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
ignore_missing_imports = true
warn_return_any = true
warn_unused_configs = true
namespace_packages = true
explicit_package_bases = true

[tool.pycln]
all=true
