name: "On push to branches"
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    tags-ignore:
      - v*

jobs:
  tests:
    uses: ./.github/workflows/tests.yaml
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
