name: "Push to main branch"
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - 'CHANGELOG.md'

jobs:
  tests:
    uses: ./.github/workflows/tests.yaml
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  generate-changelog:
    needs: tests
    uses: ./.github/workflows/generate-changelog.yaml

  docs:
    needs: generate-changelog
    uses: ./.github/workflows/publish-docs.yaml
    with:
      message: 'Warning: This is the development version.'

  publish-latest:
    needs: tests
    uses: ./.github/workflows/publish.yaml
    with:
      image-tag: latest
      oauth-redirect-url: 'https://proxy-template-fastapi-react-test.radix.equinor.com/'

  deploy-test:
    needs: publish-latest
    uses: ./.github/workflows/deploy.yaml
    with:
      radix-environment: 'test'
    secrets:
      APP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.APP_SERVICE_ACCOUNT_TOKEN }}
